<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spuds.eventapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".Shared.MainActivity"
            android:label="EVENTORY"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ForgotPasswordActivity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            >
            </activity>
        <activity android:name=".SignUp.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".ResetPassword.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            </activity>

        <!-- permissions to prevent others apps from registering/receiving messages !-->
        <permission
            android:name="com.spuds.eventapp.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>
        <uses-permission android:name="com.spuds.eventapp.permission.C2D_MESSAGE"/>

        <!-- handles receiving messages !-->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.spuds.eventapp" />
            </intent-filter>
        </receiver>

        <!-- responds to instance ID or something, handles tokens!-->
        <service
            android:name=".Shared.TokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- receives pushes !-->
        <service android:name=".Shared.RegistrationService"
            android:exported="false" />

        <!-- reviving messages !-->
        <!-- handles different aspects of messages, such as auto displaying notifications !-->
        <service
            android:name=".Shared.NotificationsListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

    </application>

</manifest>
